.sidebar{
    float: left;
    width: 160px;
    height: 100vh;
    overflow: auto;
    position: fixed;
    & .logo{
        margin: 23px 0 0 26px;
    }
    & .button-container{
        margin-left: 26px;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        & .button{
            font-family: 'pretendard';
            font-weight: 500;
            font-size: 18px;
        }
    }
}