.sidebar{
    position: fixed;
    width: 160px;
    height: 100vh;
    background-color: white;
}
.sidebar> .logo> img {
    width: 109px;
    height: 34.92px;
    margin-top: 23px;
    margin-left: 26px;
}
.menu {
    margin-top: 40px;
    margin-left: 38px;
    line-height: 36px;
}
.menu > .sidebar-button {
    cursor: pointer;
}