.notice{
    & .container{
        background-color: #F5F5F5;
        width: calc(100vw - 160px);
        height: 100vh;
        position: fixed;
        margin-left: 160px;
        & .title-container{
            display: flex;
            align-items: center;
            gap: 20px;
            margin: 90px 0 0 90px;
            & span{
                font-weight: 600;
                font-size: 40px;
                color: #F26F59;
            }
        }
        & .post-container{
            margin: 0 auto;
            width: calc(100vw - 160px - 180px);
            & .item-top{
                border-bottom: 1px solid black;
                height: 30px;
                padding-top: 14px;
                & p{
                float: left;
                text-align: center;
                font-size: 18px;
                
                }
                & .num{
                    width: 15%;
                }
                & .title{
                    width: 70%;
                }
                & .date{
                    width: 15%;
                }
                
            }
            & .item{
                border-bottom: 1px solid #C6C6C6;
                height: 35px;
                padding-top: 13px;
                & p{
                float: left;
                text-align: center;
                font-size: 18px;
                color: #121212;
                }
                & .num{
                    width: 15%;
                }
                & .title{
                    width: 70%;
                }
                & .date{
                    width: 15%;
                }
                
            }
        }
    }
}