.main{
    background-color: #F5F5F5;
    height: 100vh;
} 
.main > .container {
    padding-left: 160px;
    width: calc(100vw - 160px);
    height: 100vh;
}
.main > .container > .button-menu{
    display: flex;
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    gap: 30px;
}
.main > .container > .button-menu > .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    width: 6.7vw;
    height: 11.9vh;
    background-color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}
.main > .container > .button-menu > .button > img {
    width: 2.7vw;
    height: 4.8vh;
}
.main > .container > .content {
    float: left;
    width: 33vw;
    height: 80.8vh ;
    background-color: #FFFFFF;
    margin-left: 30px;
    border-radius: 10px;
}
.main > .container > .calander {
    position: relative;
    left: 515px;
    bottom: 114px;
    margin-left: 2vw;
    width: 50vw;
    height: 39vh;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.main > .container > .content2 {
    position: relative;
    bottom: 91px;
    left: 546px;
    width: 50vw;
    height: 52.75vh;
    background-color: #fff;
    border-radius: 10px;
}

.selected{
    background-color: red;
}